/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


/* Company Header */

.company .container {
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  background-color: cadetblue;
}

.company {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  margin-left: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  padding-left: 2rem;
}

.tagline {
  position: relative;
  top: 10rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
}


/* Services */

.services {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.exams img {
  width: 3.5rem;
}

.fitting img {
  width: 5rem;
}

.delivery img {
  width: 5rem;
}
