/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 100%;
  }
}

/* Company Header */

header .container {
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  background-color: cadetblue;
}

header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  margin-left: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  padding-left: 2rem;
}

.menu-mobile {
  display: none;
}

.tagline {
  display: inline-block;
  position: absolute;
  top: 13rem;
  right: 5rem;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  header .container {
    top: 0;
  }

  header {
    height: 22rem;
  }

  .tagline {
    top: 8rem;
    right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.5rem;
    line-height: 3;
  }
}

@media only screen and (max-width: 700px) {
  .menu-normal {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .logo span {
    display: none;
  }

  header {
    height: 17rem;
  }

  .tagline {
    top: 12rem;
    padding: 1rem auto;
    font-size: 1rem;
    line-height: 1rem;
  }
}


/* Supporting Information */

.services {
  display: flex;
  justify-content: center;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.exams img {
  width: 3.5rem;
}

.fitting img {
  width: 5rem;
}

.delivery img {
  width: 5rem;
}

.about {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.philosophy {
  width: 35%;
}

.appointments {
  width: 35%;
  margin-left: 5%;
}

.about h4 {
  width: 10rem;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.about p {
  margin-top: 1rem;
}

@media only screen and (max-width: 700px) {
  .services {
    flex-direction: column;
  }
  .service-item {
  }

}

/* Footer */

footer {
  background-color: azure;
}

.logo-black {
  display: flex;
  align-items: center;
  padding: 4rem;
}

.logo-black img {
  height: 1.5rem;
  padding-right: 1rem;
}
